 
/*--------------------------- form__input --------------------------- */
.form__input {
    padding: .4rem .7rem; 
    font-family: 'Poppins', sans-serif;
    height: 2.5rem;
    font-size: 1.2rem;
    margin:0.3rem 0.8rem;
    background-color: var(--ofWhite);
}
.form__input.-large {
    height: 15.5rem;
}
.form__input.-primary{
    /* border: 2px solid var(--colorFor); */
    transition: all 0.15s ease-in-out;
    border-radius: 0.4rem;
    border:none;
}
.form__input:focus {
    outline: 0;
    border-color: var(--colorTwo);
    box-shadow: 0 0 0.20rem 0.15rem var(--colorTwo);
}
.form__input::placeholder{
    opacity: 0.4;
}
/*--------------------------- form__btn --------------------------- */

.form__btn{
    height: 2.5rem;
    width:10rem;
    margin:1rem 0.8rem;
}
.form__btn.-primary{
    border:none;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform:uppercase;
    background-color: var(--colorTwo);
    color: var(--ofWhite);
    font-weight: 600;
    transition: background-color .5s ease-in-out;
    transition-property: color .5s ease-in-out;
}
.form__btn.-primary:hover{
    cursor: pointer;
    background-color:var(--colorThree);
   
}

/*--------------------------- form__textarea --------------------------- */

.form__textarea{
    resize: none;
}
/*--------------------------- form__link --------------------------- */

.form__link{
    color: var(--ofWhite);
    margin: 0rem 1.5rem;
    font-size: 1rem;
}
/*--------------------------- form__radio and label --------------------------- */
/* .form__radio{
    height: 1.5rem;
    width: 1.5rem;
    color:var(--colorTwo)
} */
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
label {
    color: var(--colorTwo);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem 1rem;
   
}
input[type=radio]:checked +label{
    color:var(--ofWhite);
    background: var(--colorTwo);
}
label + input[type=radio] +label{
    border-left: solid 0.3rem var(--colorTwo);
}


  
/*--------------------------- form__checkbox --------------------------- */
.form__checkBox{
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 1rem;
    color:var(--colorTwo)
}