 
/*--------------------------- loginForm__input --------------------------- */
.loginForm__input {
    padding: .4rem .7rem; 
    font-family: 'Poppins', sans-serif;
    height: 2.5rem;
    font-size: 1.2rem;
    margin:0.3rem 0.8rem;
    background-color: var(--ofWhite);
}
.loginForm__input.-primary{
    /* border: 2px solid var(--colorFor); */
    transition: all 0.15s ease-in-out;
    border-radius: 0.4rem;
    border:none;
}
.loginForm__input:focus {
    outline: 0;
    border-color: var(--colorTwo);
    box-shadow: 0 0 0.20rem 0.15rem var(--colorTwo);
}
.loginForm__input::placeholder{
    opacity: 0.4;
}
/*--------------------------- loginForm__btn --------------------------- */

.loginForm__btn{
    height: 2.5rem;
    width:10rem;
    margin:1rem 0.8rem;
}
.loginForm__btn.-primary{
    border:none;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform:uppercase;
    background-color: var(--colorTwo);
    color: var(--ofWhite);
    font-weight: 600;
    transition: background-color .5s ease-in-out;
    transition-property: color .5s ease-in-out;
}
.loginForm__btn.-primary:hover{
    cursor: pointer;
    background-color:var(--colorThree);
   
}
/*--------------------------- loginForm__link --------------------------- */

.loginForm__link{
    color: var(--ofWhite);
    margin: 0rem 1.5rem;
    font-size: 1rem;
}